.page_forget{
    background-image:url("../Image/b2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    overflow: hidden;
  }
  .back{
    background-color: black;
    opacity:0.7;
    border-radius: 10px;
    width:60%;
    height:auto;
    padding:50px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
  }
  .content{
    flex:1;
    color:white;
     font-size: 1rem;
     border-left: 1px solid white;
     padding:40px 0px;
  }
  .content p{
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    font-family: "Edwardian Script ITC";
    font-family: 'Comfortaa', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Satisfy', cursive;
  }
  .form {
    padding-top:40px;
    flex:1;
  }

  .sign_in_btn {
    width: 130px;
    height:35px;
    background:#53b115;
    border-radius:40px;
    border:2px solid white;
    color: white;
    font-size:19px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form_div {

    position:relative;
    height:35px;
    width:70%;
    margin-bottom:28px;
  }
  .design_input{
    top: 0;
    left:0;
    height:100%;
    width:100%;
    border: 2px solid white;
    border-radius:40px;
    padding:5px;
    color:white;
    font-size:15px;
    outline:0;
    background-color: transparent;
  }
  .input_text{
    position:absolute;
    left:1rem;
    top:1rem;
    color:white;
    padding: 0 .25rem;
    font-size:18px;
    transition: .3s;
    background-color:black;
    opacity:0.7;
  }
  .form_eye_button{
    position:absolute;
    right:0.5rem;
    top:0.5rem;
    border:none;
    background: transparent;
    color:white;
  }
  .label_eye_button{
      width: 100%;
      display: flex;
      align-items: inherit;
      justify-content: inherit;
  }
  .eye_button{
    fill:white;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.3rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
      cursor: pointer;
      opacity: 0.5;
  }
  .input_text:hover{
    cursor: text;
  }
  input:focus + label ,
  input:valid + label{
    top: -.8rem;
    left: .8rem;
    color:#53b115;
    font-size:16px;
    font-weight: 700;
    z-index: 10;
  
  }
  .design_input:focus{
    border: 2px solid #53b115;
  }
  .sign_in_btn:hover{
    cursor: pointer;
    background-color:#05242a;
  }
  .sign_in_pswd{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
  }
  .sign_in_pswd_div{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
  }
  .sign_in_pswd_p{
      color: rgb(136, 136, 136);
      text-align: center;
      padding: 0.7rem;
  }
  .sign_in_pswd_h1{
      color:#53b115;
      text-align: center;
      font-size: 2.5rem;
      margin:0px;
  }
  footer{
     position:relative;
     display: block;
     background-color: #53b115;
     color:white;
     text-align: center;
     width: 100%;
     bottom: 0px;
     padding:6px 0px;
     font-size:18px;
     overflow: hidden;
  }
  footer p{
    margin:0px;
  }
  
  @media (max-width:1850px) {
  
  }
  @media (max-width:1264px) {
      .form{
        padding-right: 40px;
      }
      .form_div{
        width:90%;
      }
      .sign_in_pswd_h1{
        font-size:2rem;
      }
      .content{
        padding-left:20px;
        padding-right:20px;
        font-size: 0.8rem;
      }
      .content p {
        font-size: 1.5rem;
      }
  
  }
  @media (max-width:990px) {
      .back{
        flex-direction: column-reverse;
        height:auto;
      }
      .sign_in_pswd_h1{
        font-size:2.5rem;
      }
      .form{
        padding-right: 0px;
      }
      .content{
        border-left: none;
        border-bottom: 1px solid white;
        padding:20px;
        font-size: 1rem;
      }
      .content p {
        font-size: 1.8rem;
      }
  
  }
  @media (max-width:477px) {
  
      .form_div{
        width:100%;
      }
      .sign_in_pswd_h1{
        font-size:1.7rem;
      }
      .input_text{
        font-size:16px;
      }
      .content{
        padding: 10px;
        font-size: 12px;
      }
      .content p{
        font-size: 1.3rem;
      }
      .sign_in_btn{
        width:140px;
        height:40px;
      }
  }
  @media (max-width:370px) {
    .content{
      padding:5px;
    }
    .content h2{
      font-size: 13px;
    }
    .sign_in_pswd_h1{
      font-size:1.5rem;
    }
    .sign_in_pswd_p{
      font-size:14px;
    }
    .input_text{
      font-size:12px;
    }
    footer{
      font-size: 14px;
    }
  }
  






/* //  Rishita Jain's */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

.forget {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.forget__form img {
    width: 160px;
    margin-bottom: 30px;
}

.forget__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    text-align: center;
    padding: 40px;
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.forget__form h1 {
    font-size: 1.6rem;
    margin-bottom: 40px;
    color: #555555;
}

.forget__form input {
    width: 350px;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 15px;
    border: 1px solid #aaaaaa;
    outline: none !important;
    font-size: 1rem;
}

.forget__form button {
    padding: 13px 50px;
    background-color: #56b124;
    border-radius: 50px;
    outline: none !important;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;
    border: 3px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.forget__form button:hover {
    background-color: #05242a;
    border: 3px solid #fff;
}

@media only screen and (max-width: 480px) {
    .forget__form img {
        width: 140px;
    }

    .forget__form {
        width: 320px;
        padding: 40px 20px;
    }

    .forget__form input {
        width: 280px;
    }

    .forget__form h1 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 360px) {
    .forget__form {
        width: 300px;
    }
} */